<% if flash[:alert] %>
  <p id="notice"><%= flash[:alert] %></p>
<% end %>
<%= bootstrap_form_tag url:'/login' do |f| %>
  <legend>Please Log In</legend>
  <%= f.text_field :name %>
  <%= f.password_field :password %>
  <%= f.submit 'login' %>
<% end %>
