<% if flash[:alert] %>
  <p id="notice"><%= flash[:alert] %></p>
<% end %>
<%= bootstrap_form_tag url:'/login' do |f| %>
  <legend><%= t :please_login %></legend>
  <%= f.text_field :name, label: "#{t :user_name}" %>
  <%= f.password_field :password, label: "#{t :password}" %>
  <%= f.submit "#{t :login}" %>
<% end %>
