<%# binding.pry %>
<% tasks.each do |task| %>
  <div class="card">
    <div class="card-header">
      <a><%= task.title %></a>
      <a><%= t :create_time %>：<%= task.created_at.strftime('%Y-%m-%d %H:%M:%S %z')%></a>
      <a><%= t :end_time %>：<%= task.end_time.strftime('%Y-%m-%d %H:%M:%S %z') %></a>
      <% if false %>
      如果寫成 <%= t task.priority %> 或 <%= t :"#{task.priority}" %> ，
      rspec 都會跳 ActionView::Template::Error:I18n::ArgumentError ，
      但I18n內建的 <%= t task.aasm.human_state %> ，multi state machine又無法使用，
      沒辦法完全I18n，小遺憾。
      <% end %>
      <a><%= t :task_state  %>：<%= task.state %></a>
      <a><%= t :task_priority %>：<%= task.priority %></a>
    </div>
    <div class="card-body">
      <p class="card-text">
        <%= task.content %>
      </p>
      <%= link_to "#{t :edit_task}", edit_task_path(task), class: 'btn btn-outline-primary' %>
      <%= link_to "#{t :delete_task}", task_path(task), method: 'delete', data: { confirm: "#{t :task_delete_sure}" }, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>