<h3><%= t :tasks_list %></h3>
<h6><%= notice %></h6>
<%= link_to "#{t :new_task}", new_task_path, class: 'btn btn-outline-secondary' %>
<%= render 'search_form_for', q: @q %>
<%= render 'tasks', tasks: @tasks %>
<%= paginate @tasks %>
