<h2><%= t :tasks_list %></h2>
<h5><%= notice %></h5>
<%= link_to "#{t :new_task}", new_task_path, class: 'btn btn-outline-primary' %>
<%# select_tag 'order_time', options_for_select( [["#{t :create_time}", "rails_base"], ["Rubyの基礎", "ruby_base"]], 'ruby_base' ), class: 'form-control' %>
<%# select(:task, :id, [['Lisbon', 1], ['Madrid', 2]]) %>

<% if true %>
<div class="dropdown">
  <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= t :sort_by %>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="<%= tasks_path( params: { order: :created_at }) %>"><%= t :create_time %></a>
    <a class="dropdown-item" href="<%= tasks_path( params: { order: :end_time }) %>"><%= t :end_time %></a>
  </div>
</div>
<% end %>

<% if true %>
<div class="dropdown">
  <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= t :state_search %>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="<%= tasks_path( params: { state: :pending }) %>"><%= t :pending %></a>
    <a class="dropdown-item" href="<%= tasks_path( params: { state: :processing }) %>"><%= t :processing %></a>
    <a class="dropdown-item" href="<%= tasks_path( params: { state: :finishing }) %>"><%= t :finishing %></a>
  </div>
</div>
<% end %>

<%= render 'tasks', tasks: @tasks %>
